In [1]:
import os

os.environ["SPARK_HOME"] = "C:\spark\spark-3.2.1-bin-hadoop3.2"

In [47]:
# os.unsetenv('PYSPARK_SUBMIT_ARGS')

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [15]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local[*]') .appName("Initializing with Spark") .config('spark.ui.port','4050') .getOrCreate()

In [16]:
get_ipython().system_raw('./ngrok authtoken 25CLaFPgFRxdL2hz6CKqEdtICCd_71r2mEekY6Grz7HdxgRZh')
get_ipython().system_raw('./ngrok http 4050 &')

In [17]:
!curl -s http://localhost:4040/api/tunnels

<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>Error 404 Not Found</title>
</head>
<body><h2>HTTP ERROR 404 Not Found</h2>
<table>
<tr><th>URI:</th><td>/api/tunnels</td></tr>
<tr><th>STATUS:</th><td>404</td></tr>
<tr><th>MESSAGE:</th><td>Not Found</td></tr>
<tr><th>SERVLET:</th><td>org.glassfish.jersey.servlet.ServletContainer-11f34756</td></tr>
</table>
<hr><a href="https://eclipse.org/jetty">Powered by Jetty:// 9.4.43.v20210629</a><hr/>

</body>
</html>

In [13]:
spark

## Dataframes

In [18]:
data = [('Neil', '38'), ('Buzz', '39')] # A list with tuples
colNames = ['Name', 'Age']

df = spark.createDataFrame(data, colNames)
df

DataFrame[Name: string, Age: string]

In [19]:
df.show()

+----+---+
|Name|Age|
+----+---+
|Neil| 38|
|Buzz| 39|
+----+---+

If we want to visualize it in the Pandas dataframe style, there's a method for that:

In [20]:
df.toPandas()

   Name Age
0  Neil  38
1  Buzz  39